---
layout: compress
---
<!DOCTYPE html>
<html>        
    <head>
        {% include head.html %}
    </head>    
    <body>                                 
        <header>
            {% if site.in-development %}  
            <h1 id="under-construction-banner">This site is currently under construction!</h1> 
            {% endif %}
            {% include profile-block.html %}
        </header>        
        <main>
            {{ content }}
        </main>
        <footer>
            {% include site-footer.html %}
        </footer>   
        {% include scripts.html %}
        <button class="print-button" onclick="window.print();return false;"><img class="print-button-image" src="/assets/images/icon_printer.svg"/></button>     
        <script type="text/javascript" src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
    </body>       
</html>