<section class="experience-entry">
    {% if include.image %}
    <img class="experience-entry-image" src="{{ include.image }}">
    {% endif %} 
    <div class="content">
        <h1><a href="{{ include.url }}" target="_blank">{{ include.title }}</a> <span class="experience-entry-link">{{ include.url }}</span></h1>    
        <p>{{ include.subtitle }}</p>
        {% if include.notes %}
        <ul>
        {% for note in include.notes %}
            <li>{{ note.content }}</li>
        {% endfor %}
        </ul>
        {% endif %} 
        {% if include.tagGroups %}        
        {% include template-tag-groups.html 
            tagGroups=include.tagGroups %}        
        {% endif %} 
    </div>
</section>