<section class="experience-entry">
    <a href="{{ include.url }}" target="_blank"><img class="experience-entry-image puffy-image" src="{{ include.image }}"></a>
    <div class="content">
        <h1>{{ include.position }}</h1>            
        <p><b><a href="{{ include.url }}" target="_blank">{{ include.title }}</a></b> | <a href="https://www.google.com/maps/place/{{ include.location }}" target="_blank">{{ include.location }}</a> | {{ include.dateRange.start }} to {{ include.dateRange.end }}</p>
        <p>{{ include.subtitle }}</p>
        {% if include.notes %}
        <ul>
        {% for note in include.notes %}
            <li>{{ note.content }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% if include.tagGroups %}        
        {% include template-tag-groups.html 
            tagGroups=include.tagGroups %}        
        {% endif %}        
    </div>
</section>